@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f9f7fe;
  color: #272343;
}

* {
  box-sizing: border-box;
}